
<div class="row ceneter">
  <div class="col-md-6 mx-auto my-5 ">
    <section class="form-elegant">
      <mdb-card>
        <mdb-card-body class="mx-4">
          <!--Header-->
          <div class="text-center">
            <h3 class="dark-grey-text mb-5">
              <strong>Forgot Password</strong>
            </h3>
          </div>

          <form [formGroup]="fgForm">
            <div class="md-form">
              <input type="text" id="elegantFormEmailEx" class="form-control" formControlName="email" mdbInput>
              <label for="elegantFormEmailEx">Your email</label>
              <div class="alert alert-danger" *ngIf="fgForm.controls.email.touched && fgForm.controls.email.invalid">
                <div *ngIf="fgForm.controls.email.errors.required">Email is required.</div>
              </div>
            </div>
          </form>
          <!--Body-->

          <div class="text-center mb-3">
            <button type="button" mdbBtn gradient="blue" style="border-radius: 16px;"
            block="true" rounded="true" class="z-depth-1a waves-light " mdbWavesEffect (click)="passwordReset()">Reset Password</button>
          </div>
        </mdb-card-body>
        <!--Footer-->
        <div *ngIf="smsg">
          <span class="text-info"><h4>Password Reset Link Sent to Entered Mail</h4></span>
      </div>
      <div *ngIf="errmsg">
        <span class="text-danger"><h4>User Not Found Please Register</h4></span>
      </div>
      <div *ngIf="waitingFlag===false">
        <span class="text-Info"><h4>Please Wait...</h4></span>
      </div>
      
      </mdb-card>
    </section>
  </div>
</div>



